<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <main>
        <form id="altaProducts-container">
            <label for="nameProd">Nombre</label>
            <input type="text" name="nameProd" id="nameProd" required>

            <label for="priceProd">Precio</label>
            <input type="number" name="priceProd" id="priceProd" required>
            
            <label for="categoryProd">Categoria</label>
            <select name="category" id="categoryProd" required>
                <option value="guitarra">Guitarra</option>
                <option value="bajo">Bajo</option>
            </select>
            
            <label for="imageProd">Imagen</label>
            <input type="text" name="imageProd" id="imageProd" required>
            <input type="submit" value="crear producto">
        </form>
        <hr>
        <section id="contenedor-productos"></section>
    </main>

    <script src="/js/crear.js"></script>
    
    <%- include("partials/footer.ejs") %>
