<header>
    <nav>
        <ul>
            <a href="/">
                <li>ver</li>
            </a>
            <a href="/consultar">
                <li>consultar id</li>
            </a>
            <a href="/crear">
                <li>crear</li>
            </a>
            <a href="/modificar">
                <li>modificar</li>
            </a>
            <a href="/eliminar">
                <li>eliminar</li>
            </a>
            <li>
                <form action="/logout" method="post" id="logout">
                    <input type="submit" value="Cerrar sesion">
                </form>
            </li>
        </ul>
    </nav>
</header>
<h1><%= about %></h1>